name: postgresql1

restapi:
  listen: {{ hostvars['postgres-ha02']['ansible_eth0']['ipv4']['address'] }}:8008
  connect_address: {{ hostvars['postgres-ha02']['ansible_eth0']['ipv4']['address'] }}:8008

postgresql:
  listen: {{ hostvars['postgres-ha02']['ansible_eth0']['ipv4']['address'] }}:5432
  connect_address: {{ hostvars['postgres-ha02']['ansible_eth0']['ipv4']['address'] }}:5432
